//nav

nav {
	background-color: black;
	color: $blanc;
	margin: 0;
	padding-top:$p;
	padding-bottom: $p;
	ul {
		display: flex;
		flex-direction: row;
		margin-left: 120px;
		display: flex;
		flex-direction: row;
	}
	#logonav {
		width: 120px;
		height: 60px;
		margin-top: -10px;
		margin-bottom: -1px;
		float: left;
	}
	li {
		list-style-type: none;
		display: inline-block;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-left: 15px;
		font-size: 1.4em;
		width: 50%;
		height: 50%;
	}
	.login {
		position: absolute;
		right: 40px;
	}
}
